.utils {

    // background color
    &.bg-white-600 {
        background: #FFFAF2;
    }

    &.bg-brown-600 {
        background: #F5D6AB;
    }

    &.bg-brown-700 {
        background: #C66C49;
    }

    &.bg-brown-800 {
        background: #8B4136;
    }

    &.bg-black-600 {
        background: #333333;
    }

    // color style 
    &.color-gray-3 {
        color: #828282;
    }

    &.color-gray-1 {
        color: #333;
    }

    &.color-white-1 {
        color: #fff;
    }

    // font size
    &.fz-64 {
        font-size: 64px;
    }

    &.fz-24 {
        font-size: 24px;
    }

    &.fz-18 {
        font-size: 18px;
    }

    // font weight
    &.fw-700 {
        font-weight: 700;
    }

    &.fw-600 {
        font-weight: 600;
    }

    &.fw-500 {
        font-weight: 500;
    }

    &.fw-400 {
        font-weight: 400;
    }

    // width style 
    &.w-170 {
        width: 170px;
    }

    // max width style
    &.max-w-445 {
        max-width: 445px;
    }
}